<h1 class="page-ttl">HTML-CSS Style Guide</h1>
<ol>
	<li><a href="#tabs" class="content-lnk">Табуляция</a></li>
	<li><a href="#spaces" class="content-lnk">Пробелы между символами</a></li>
	<li><a href="#media" class="content-lnk">Медиа-запросы</a></li>
	<li><a href="#nesting" class="content-lnk">Вложенность селекторов</a></li>
	<li><a href="#float" class="content-lnk">float</a></li>
	<li><a href="#important" class="content-lnk">important</a></li>
</ol>

<table class="html-css-tbl">
  <thead>
  <tr>
    <th class="bg-green"></th>
    <th>HTML</th>
    <th>CSS</th>
  </tr>
  </thead>
  <tbody>
  <tr id="tabs">
    <td>1. Табуляция табами в 2 пробела</td>
    <td><img src="assets/img/style-guide-img-1.jpg" alt="Табуляция в HTML"></td>
    <td><img src="assets/img/style-guide-img-2.jpg" alt="Табуляция в CSS"></td>
  </tr>
  <tr id="spaces">
    <td>2. Пробелы между символами</td>
    <td></td>
    <td><img src="assets/img/style-guide-img-3.jpg" alt="Пробелы между символами"></td>
  </tr>
  <tr id="media">
    <td>3. Медиа-запросы</td>
    <td></td>
    <td><img src="assets/img/style-guide-img-4.jpg" alt="Медиа-запросы"></td>
  </tr>
  <tr id="nesting">
    <td>4. Вложенность селекторов</td>
    <td></td>
    <td><p>Чем меньше, тем лучше.</p></td>
  </tr>
  <tr id="float">
    <td>5. float</td>
    <td></td>
    <td><p>По возможности не используем(кроме как для обтекания текста).</p></td>
  </tr>
  <tr id="important">
    <td>6. !important</td>
    <td></td>
    <td><p>Иногда использовать можно(в крайних случаях), но очень осторожно(ограничивая область действия).</td>
  </tr>
  </tbody>
</table>
