<h1 class="page-ttl">HTML-CSS Style Guide</h1>

<table class="html-css-tbl">
  <thead>
  <tr>
    <th class="bg-green"></th>
    <th>HTML</th>
    <th>CSS</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Табуляция табами в 2 пробела</td>
    <td><img src="assets/img/style-guide-img-1.jpg" alt="Табуляция в HTML"></td>
    <td><img src="assets/img/style-guide-img-2.jpg" alt="Табуляция в CSS"></td>
  </tr>
  <tr>
    <td>Пробелы между символами</td>
    <td></td>
    <td><img src="assets/img/style-guide-img-3.jpg" alt="Пробелы между символами"></td>
  </tr>
  <tr>
    <td>Медиа-запросы</td>
    <td></td>
    <td><img src="assets/img/style-guide-img-4.jpg" alt="Медиа-запросы"></td>
  </tr>
  </tbody>
</table>
